@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans-400.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans-400-italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans-700.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans-700-italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

body {
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}


/* Навигация */

.top-menu {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
}
/* Создаём грид контейнер для шапки с навигацией */
.navigation {
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: 3fr 1fr auto;
    grid-auto-rows: minmax(66px, auto);
    width: 1060px;
    margin: 0 auto;
    position: relative;
} 

.logo-link {
    margin-right: 30px;
    position: absolute;
}

.navigation-list {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
}

.navigation-link {
    text-decoration: none;
    color: #000000;

}

.navigation-link:hover {
    color: #756257;
}
/* Задал отсуп нижнего подчеркивания от элемента меню через padding корректно так делать? */
.navigation-link:active {
    color: #000000;
    border-bottom: 2px solid #756257;
    padding: 22px 0;
}
/* По стайлгайду не вполне понял что означает состояние "нажатие".
Почитал это как посещённая ссылка, поэтому применил эти стили к visited  */
.navigation-link:visited {
    color: #756257;
    opacity: 0.3;
}

.navigation-items {
    margin-right: 34px;
}

.navigation-items:last-child {
    margin-right: 0px;
}

.navigation-list:first-of-type {
    padding: 20px 17px;
    margin: auto 0 auto 169px;
}

.navigation-button {
    width: 150px;
    height: 45px;
}
/* Сркываем невидимые спаны */

/* Не поулчилось скрыть заголовок иначе, кроме как как добавлением !important  Как скрыть без него? */

.visually-hidden {
    display: none  !important;
}

.choose-date-button {
    width: 160px;
    height: 37px;
    background-color: #756257;
    color: #FFFFFF;
    border-radius: 4px;
    text-transform: uppercase;
    align-self: center;
    outline: none;
    border: none;
}

.navigation-user {
    justify-self: end;
    align-self: center;
}

.user-items {
    margin-right: 24px;
    position: relative;
    line-height: 0;
}

.user-items:last-of-type {
    margin-right: 20px;
}
/* Фон счётчика лайковк */
.counter {
    position: absolute;
    top: -50%;
    right: -70%;
}
/* значение счётчика лайков */
.counter-value {
    position: absolute; 
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: -0.1em;
    text-align: center;
    color: #FFFFFF;
    top: -30%;
    right: -35%;
}

.like-link {
    text-decoration: none;
}

/* Фильтр выбора гостиниц */

.catalog-wrapper {
    min-height: calc(100vh - 186px);
    background-color: #FFFFFF;
    width: 1200px;
    margin: 0 auto;
}



.first-screen-catalog {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    height: 408px;
    background: url('../images/catalog-images/first-screen-bg.jpg') no-repeat;
}

.first-screen-header {
    margin: 0;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 78px; */
    letter-spacing: 0em;
    color: #FFFFFF;
}

.select-hotels {
    padding: 35px 0 0 72px;
}

.breadcrumbs {
    padding-left: 4px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.breadcrumbs img:nth-child(2) {
    margin: 0 10px;
}

.breadcrumbs a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-decoration: none;
}

.headers-to-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 45px;
    height: auto;
}

.selectors {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
}

.selectors ul {
    list-style-type: none;
    padding: 0;
    margin: 0 67px 0 0;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}

.button-list input,
.checkbox-list input {
    transform: translateY(25%);
    margin-right: 19px;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}

.header-filter-list {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.button-list li,
.checkbox-list li {
    position: relative;
    margin-bottom: 13px;
}

.type-of-hotels::before {
    content: '';
    position: absolute;
    top: 25%;
    display: block;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #3F5E72;
}

.checkbox:checked+label::before {
    content: '';
    position: absolute;
    top: 47%;
    left: 5px;
    display: block;
    width: 12px;
    height: 10px;
    background: url('../images/catalog-images/checkbox.svg') no-repeat;
    z-index: 2;
}

.infrastructure::before {
    content: '';
    position: absolute;
    top: 25%;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #3F5E72;
}

.radio:checked+label::before {
    content: '';
    position: absolute;
    top: 30%;
    left: 1px;
    width: 20px;
    height: 20px;
    background: #3F5E72;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    z-index: 2;
    box-sizing: border-box;
}

/* Первый экран правая секция, выбор дат */

.select-price {
    display: flex;
    align-self: flex-end;
    margin-bottom: 70px;
}

.price-range p {
    margin: 0 0 34px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.price-from,
.price-to {
    margin-bottom: 32px;
    padding-left: 22px;
    width: 143px;
    height: 48px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    color: #FFFFFF;
}

.price-from {
    border-radius: 4px 0 0 4px;
}

.price-to {
    border-radius: 0 4px 4px 0;
    border-left: none;
}

/* Слайдер Рендж */

.double-range {
    display: grid;
    position: relative;
    height: 23px;
    box-sizing: border-box;
}

.range {
    background: none;
    position: absolute;
    -webkit-appearance: none;
    width: 100%;
    box-sizing: border-box;
}

.range-left {
    position: absolute;
    -webkit-appearance: none;
    width: 100%;
    box-sizing: border-box;
}

.range-right {
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    width: 100%;
    box-sizing: border-box;
}

.range-track {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 98%;
    height: 3px;
    border-radius: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-track-active {
    position: absolute;
    height: 3px;
    border-radius: 2px 2px 2px 2px;
    background-color: #ffffff; 
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;

}

.range::-webkit-slider-runnable-track {
    /* pointer-events: none; */
    -webkit-appearance: none;
    height: 8px;
    box-sizing: border-box;
}

/* Кнопки поиска и сброса */

.price-button {
    align-self: flex-end;
    margin-left: 81px;
}

.button-go {
    margin-bottom: 2px;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background: #83B3D3;
    outline: none;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button-clear {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    width: 160px;
    height: 48px;
    background: transparent;
    outline: none;
    border: none;
}

/* Доступные гостиницы */

.avaliable-hotels {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 1200px;
    background-color: #FFFFFF;
}

.avaliable-hotels-header p {
    margin: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

#filter-hotels {
    width: 287px;
    height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 19px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    columns: #333333;
    outline: none;
}

.avaliable-hotels-header {
    display: flex;
    justify-content: space-between;
    width: 1057px;
    margin: 44px 72px 33px;
    align-items: center;
}

.display-options-active {
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 17px 16px;
}

.display-options:hover {
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 17px 16px;
}

.display-options:active {
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 17px 16px;
}

.display-options {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 17px 16px;
}

.hotels-list {
    width: 1057px;
    margin: 0 72px 54px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

.hotels-items {
    padding: 20px;
}

.hotels-items p {
    margin: 0;
}

.hotels-items h3 {
    margin: 16px 0 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.price-hotel {
    margin-top: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.price-hotel p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}

.hotels-button {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.more-btn {
    width: 133px;
    height: 37px;
    border-radius: 4px;
    border: none;
    background-color: #756257;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.favorite-btn {
    width: 133px;
    height: 37px;
    border-radius: 4px;
    border: none;
    background-color: #83B3D3;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.favorite-btn-active {
    width: 133px;
    height: 37px;
    border-radius: 4px;
    border: none;
    background-color: #7DB54F;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.hotel-rating {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.hotel-rating p:last-child {
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 10px 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #333333;
}

.divider {
    margin: 0 auto;
    padding: 0;
}

.load-more {
    width: 620px;
    height: 60px;
    border-radius: 4px;
    background-color: #83B3D3;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-transform: uppercase;
    border: none;
    justify-self: center;
    cursor: pointer;
    margin: 30px 0;
}

.page-pagination {
    display: grid;
    grid-template-columns: 1fr auto auto;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 30px 72px 0px 72px;
    box-sizing: border-box;
    align-items: center;
}

.page-pagination-list {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    padding: 0; 
}

.page-pagination-item {
    display: block;
    position: relative;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    background-color: #83B3D3;
    border-radius: 4px;
    margin-right: 7px;
    width: 55px;
    height: 55px;
}

.page-pagination-item:hover {
    display: block;
    position: relative;
    margin: 0;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    background-color: #F2F2F2;
    border-radius: 4px;
    margin-right: 7px;
    width: 55px;
    height: 55px;
}

.page-pagination-item:active {
    display: block;
    position: relative;
    margin: 0;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    background-color: #F2F2F2;
    border-radius: 4px;
    margin-right: 7px;
    width: 55px;
    height: 55px;
}

.page-pagination-item li {
    position: absolute;
    vertical-align: middle;
    margin: auto 0;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    list-style-type: none;
}

.page-pagination p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    margin-right: 51px;
}

#quantity-of-pages {
    width: 160px;
    height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 17px;
    outline: none;
}

#quantity-of-pages option {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: #333333;
}

.subscribes {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    text-align: center;
    padding: 90px 0 140px;

}

.catalog-paragraph-header {
    margin: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.subscribes p:last-of-type {
    margin: 32px 0 45px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color: #333333;
}

.email {
    height: 60px;
    width: 600px;
    border-radius: 4px;
    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    padding-left: 22px;
    outline: none;
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    box-sizing: border-box;
}

.subscribe-button {
    height: 60px;
    width: 200px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #83B3D3;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
}

/* Footer */

.footer-wrapper {
    display: grid;
    width: 1200px;
    height: 120px;
    grid-template-columns: 1.5fr 7fr 1.5fr;
    background-color: #FFFFFF;
    margin: 0 auto;
    align-items: center;
}

.social-networks-list {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 72px;
    align-items: center;
}

.social-networks-items {
    list-style-type: none;
    margin-right: 30px;
}


.footer-twitter::after {
    content: "";
    background: url('../images/social-twitter.svg') no-repeat left center;
    width: 18px;
    height: 15px;
    float: left;
    margin-right:10px;
}

.footer-facebook::after {
    content: "";
    background: url('../images/social-facebook.svg') no-repeat left center;
    width: 10px;
    height: 18px;
    float: left;
    margin-right:10px;
}

.footer-youtube::after {
    content: "";
    background: url('../images/social-youtube.svg') no-repeat left center;
    width: 20px;
    height: 16px;
    float: left;
}

.phone-number {
    justify-self: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
}

.phone-number-link {
    text-decoration: none;
    color: #000000;
}

.footer-logo-link::after {
    content: "";
    background: url('../images/footer-logo.svg') no-repeat left center;
    width: 115px;
    height: 33px;
    float: left;
    margin-right: 72px;
}
