@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans-400.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans-400-italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans-700.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans-700-italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

body {
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.top-menu {
    width: 1200px;
    background-color: #FFFFFF;
    margin: 0 auto;
}
/* Создаём грид контейнер для шапки с навигацией */
.navigation {
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: 3fr 1fr auto;
    grid-auto-rows: minmax(66px, auto);
    width: 1060px;
    margin: 0 auto;
    position: relative;
} 

.logo-link {
    margin-right: 30px;
    position: absolute;
}

.navigation-list {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
}

.navigation-link {
    text-decoration: none;
    color: #000000;
}

.navigation-link:focus {
    text-decoration: none;
    color: #000000;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:active {
    color: rgba(117, 98, 87, 0.3);
    border-bottom: 2px solid #756257;
    padding: 19px 0;
}

/* Состояния для элементов кнопок, инпутов */

.dark-button-outline:focus {
    border: 3px solid #756257;
}

.dark-button-outline:active {
    color: rgb(255, 255, 255, 0.3);
}

.dark-button-outline:hover {
    color: rgb(255, 255, 255, 0.6);
}

.light-button-outline:focus {
    border: 3px solid #ffffff;
}

.light-button-outline:active {
    color:rgb(255, 255, 255, 0.3);
}

.blue-button-outline:focus {
    border: 3px solid #83B3D3;
    border-radius: 5px;
}

.blue-button-outline:active {
    color: rgb(131, 179, 211, 0.3);
}

.phone-button-outline:focus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.phone-button-outline:active {
    color: rgba(117, 98, 87, 0.3);
}

.input-outline:focus {
    border: 3px solid #83B3D3;
}

.navigation-items {
    margin-right: 34px;
}

.navigation-items:last-child {
    margin-right: 0px;
}

.navigation-list:first-of-type {
    padding: 20px 17px;
    margin: auto 0 auto 169px;
}

.navigation-button {
    width: 150px;
    height: 45px;
}
/* Сркываем невидимые спаны */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.choose-date-button {
    width: 160px;
    height: 37px;
    background-color: #756257;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-transform: uppercase;
    align-self: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.choose-date-button:focus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.choose-date-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.choose-date-button:hover {
    color: rgba(255, 255, 255, 0.6);
}

.navigation-user {
    justify-self: end;
    align-self: center;
    padding-right: 14px;
}

.user-items {
    margin-right: 21px;
    position: relative;
    line-height: 0;
}

.user-items:last-of-type {
    margin-right: 20px;
}

/* Фон счётчика лайковк */
.counter {
    position: absolute;
    top: -50%;
    right: -70%;
}
/* значение счётчика лайков */
.counter-value {
    position: absolute; 
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    background: #7DB550;
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    top: -45%;
    left: 55%;
}

.like-link {
    text-decoration: none;
}

.search-link:hover {
    opacity: 0.6;
}

.search-link:active {
    opacity: 0.3;
}

.like-link:hover {
    opacity: 0.6;
}

.like-link:active {
    opacity: 0.3;
}

/* Модальное окно */

.modal-window {
    position: absolute;
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    top:0px;
    background: rgba(242, 242, 242, 0.8);
    z-index: 10;
}

.modal-window-content {
    position: absolute;
    margin: 0 auto;
    width: 715px;
    min-height: 561px;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 54px 70px 70px;
    box-sizing: border-box;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    z-index: 100;
}

.modal-header {
    margin: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.modal-header-container,
.checkin-date,
.checkout-date,
.people-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header-container img {
    cursor: pointer;
}

.modal-header-inside {
    margin: 0;
}

.checkin-date {
    margin: 54px 0 40px;
}

.people-quantity {
    margin: 40px 0 0;
}

.modal-header-inside {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
}

.checkin,
.checkout {
    width: 420px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 4px;
    border: 0;
    padding: 0 19px;
    box-sizing: border-box;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
}

.grownups,
.children {
    width: 133px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 4px;
    border: 0;
    padding: 0 19px;
    box-sizing: border-box;
    text-align: center;
    -moz-appearance: textfield;
}


.information-icon {
    margin-right: 20px;
    margin-left: 10px;
}

.people-quantity-right p {
    margin-right: 10px;
}

.grownups::-webkit-inner-spin-button,
.grownups::-webkit-outer-spin-button,
.children::-webkit-inner-spin-button, 
.children::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.people-quantity-right {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.wrapper-for-plus-minus {
    position: relative;
}

.minus,
.minus-right {
    display: block;
    padding: 19px 5px 19px 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.plus,
.plus-right {
    display: block;
    padding: 19px 19px 19px 5px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.children-number {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.pop-up-window {
    position: absolute;
    right: 83px;
    bottom: -15px;
}

.pop-up-img {
    z-index: 1;
}

.text-pop-up {
    position: absolute;
    z-index: 2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: justify;
    color: #FFFFFF;
    padding: 22px 42px;
}

.modal-window-content button {
    width: 575px;
    height: 60px;
    background-color: #83B3D3;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    border: none;
    margin: 40px 0 0 0;
    cursor: pointer;
}

.modal-fieldset {
    padding: 0;
    border: 0;
}

/* Первый экран. Слоган Седоны */

.first-screen {
    z-index: -1;
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 485px;
    background-color: #83B3D3;
    background: url('../images/first-screen-bg.jpg');
}

.first-screen img {
    display: block;
    margin: auto;
}

.first-screen img:first-child {
    padding-top: 56px;
    /* padding-bottom: 11px; */
}

.first-screen img:nth-child(3) {
    padding-top: 53px;
}

/* Картинка Divider
!!! По краям разделителя как-будто бы отступы примрено на 1px. 
Также при просмотре с меньших экранов по нижнему краю появляется серая полоса в 1px  */

.first-screen img:last-child {
    position: absolute;
    bottom: 0;
}

/* Раздел преимущества - заголовок */

.wrapper {
    min-height: calc(100vh - 186px);
}

.wrapper h1,
.wrapper h3,
.wrapper h2,
.wrapper span,
.wrapper p {
    margin: 0;
    display: block;
    font-style: normal;
    letter-spacing: 0em;
}

.advanages-header {
    background-color: #ffffff;
    width: 1200px;
    height: 282px;
    text-align: center;
    margin: 0 auto;
}

.advanages-header p {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
    padding: 63px 50px 34px 50px;
}

.advanages-header p:last-child {
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    text-transform: none;
    padding: 0;
    color: #333333;
}

/* Грид-контейнер со списком преимуществ */

.advantages {
    width: 1200px;
    margin: 0 auto;
}



.advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.advantages h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    padding: 98px 20px 29px 20px;

}

.advantages p {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    /* padding: 6px 30px 0; */
}

.advantages p:last-child {
    margin: 0 auto;
    display: block;

}

.advantages-houses>.advantage-with-icon-text {
    width: 180px;
}

.advantages-item {
    overflow: hidden;
    text-align: center;
    width: 400px;
    min-height: 384px;
    color: #FFFFFF;
}

.advantages-item-text {
    width: 220px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 10px;
}

.advantages-souvenirs>.advantage-with-icon-text {
    width: 210px;
}

.fourth-advantages>.advantages-item-text {
    width: 230px;
}

.third-advantages>.advantages-item-text {
    width: 230px;
}

.first-advantages {
    background-color: #83B3D3;
}

.first-advantages-img {
    grid-column: 2/4;
}

.first-advantages-img img {
    display: block;
    height: 100%;
}

/* Преимуществ , второй ряд */

.advantage-with-icon {
    overflow: hidden;
    text-align: center;
    width: 400px;
    min-height: 384px;  
}

.advantage-with-icon img {
    padding: 89px 0 23px 0;
    margin: 0;
}

.advantage-with-icon h3 {
    margin: 0 20px;
    padding: 0;
    color: #000000;
}

.advantage-with-icon-text {
    display: block;
    margin: 0 auto;
    width: 230px;
    padding-top: 20px;
    color: #333333;
}

.advantages-houses {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-houses::before {
    content: '';
    width: 75px;
    height: 72px;
    background: url('../images/house.svg') no-repeat;
    display: block;
    margin: 89px 0 23px 50%;
    transform: translateX(-50%);
}

.advantages-food {
    background-color: #FFFFFF;
}

.advantages-food::before {
    content: '';
    width: 74px;
    height: 70px;
    background: url('../images/food.svg') no-repeat;
    display: block;
    margin: 89px 0 23px 50%;
    transform: translateX(-50%);
}

.advantages-souvenirs {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-souvenirs::before {
    content: '';
    width: 64px;
    height: 76px;
    background: url('../images/souvenirs.svg') no-repeat;
    display: block;
    margin: 89px 0 20px 50%;
    transform: translateX(-50%);
}

/* Преимущества, третий ряд */

.second-advantages-img {
    grid-column: 1/3;
}

.second-advantages-img img {
    display: block;
    height: 100%;
}

.second-advantages {
    background-color: #83B3D3;
}

/* Преимущества, четвёртый ряд */

.third-advantages,
.fifth-advantages {
    background: rgba(131, 179, 211, 0.12);
    color: #000000;
}

.fourth-advantages {
    background: rgba(131, 179, 211, 0.2);
    color: #000000;
}

.fourth-advantages p {
    color: #333333;
}

/* Блок "Заинтересовались?", сссылка на выбор даты поездки */

.interesting {
    width: 1200px;
    min-height: 417px;
    background-color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}

.interesting p {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
    padding: 91px 50px 32px 50px;
}

.interesting p:last-of-type {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    text-transform: none;
    padding: 0;
    margin-bottom: 52px;
}

.search-hotels {
    display: inline-block;
    min-width: 575px;
    max-width: 700px;
    text-transform: uppercase;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #756257;
    padding: 12px 0;
    border-radius: 10px;
    margin: -30px 0 10px 0;
}

.search-hotels:hover {
    color: rgb(255, 255, 255, 0.6);
}

.search-hotels:active {
    color: rgb(255, 255, 255, 0.3);
}

/* Раздел подписка */


.subscribes {
    width: 1200px;
    min-height: 411px;
    margin: 0 auto;
    background-color: #7DB550;
    background: url('../images/subscribe-bg.jpg') no-repeat;
    text-align: center;
    padding: 95px 50px 90px;
    box-sizing: border-box;
    background-size: 100% 100%;
}

.catalog-paragraph-header {
    margin: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #ffffff;
}

.subscribes p:last-of-type {
    margin: 29px 0 45px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color: #ffffff;
}

.email-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: border-box;
    height: 60px;
}

.email {
    height: 60px;
    width: 600px;
    border-radius: 4px;
    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    padding-left: 22px;
    outline: none;
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    box-sizing: border-box;
}

.subscribe-button {
    overflow: hidden ;
    box-sizing: border-box;
    height: 60px;
    min-width: 200px;
    max-width: 350px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #83B3D3;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    cursor: pointer;
}

.subscribe-button:hover {
    color: rgb(255, 255, 255, 0.6);
}

/* Футер, соцсети, контакты, лого */

.footer-wrapper {
    display: grid;
    width: 1200px;
    height: 120px;
    grid-template-columns: 1fr 8fr 2fr;
    background-color: #FFFFFF;
    margin: 0 auto;
    align-items: center;
}

.social-networks-list {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 56px;
    align-items: center;
}

.social-networks-items {
    position: relative;
    list-style-type: none;
    width: 46px;
    height: 45px;
}


.footer-twitter::after {
    content: "";
    background: url('../images/social-twitter.svg') no-repeat center;
    width: 18px;
    height: 15px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 11px 15px;
}

.footer-twitter:focus:after {
    content: "";
    background: url('../images/social-twitter.svg') no-repeat center;
    width: 18px;
    height: 15px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid #83B3D3;
    border-radius: 10px;
    padding: 11px 12px;
}

.footer-twitter:active::after {
    content: "";
    background: url('../images/social-twitter.svg') no-repeat center;
    width: 18px;
    height: 15px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 11px 12px;
    opacity: 0.3;
}

.footer-twitter:hover::after {
    content: "";
    background: url('../images/social-twitter.svg') no-repeat center;
    width: 18px;
    height: 15px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 11px 12px;
    opacity: 0.6;
}

.footer-facebook::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    content: "";
    background: url('../images/social-facebook.svg') no-repeat center;
    width: 10px;
    height: 18px;
    padding: 11px 15px;
}

.footer-facebook:focus::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    background: url('../images/social-facebook.svg') no-repeat center;
    width: 10px;
    height: 18px;
    border: 3px solid #83B3D3;
    border-radius: 10px;
    padding: 11px 15px;
}

.footer-facebook:active::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    background: url('../images/social-facebook.svg') no-repeat center;
    width: 10px;
    height: 18px;
    opacity: 0.3;
    padding: 11px 15px;
}

.footer-facebook:hover::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    background: url('../images/social-facebook.svg') no-repeat center;
    width: 10px;
    height: 18px;
    opacity: 0.6;
    padding: 11px 15px;
}

.footer-youtube::after {
    content: "";
    background: url('../images/social-youtube.svg') no-repeat center;
    width: 18px;
    height: 15px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 11px 15px;
}

.footer-youtube:focus:after {
    content: "";
    background: url('../images/social-youtube.svg') no-repeat center;
    width: 18px;
    height: 15px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid #83B3D3;
    border-radius: 10px;
    padding: 11px 12px;
}

.footer-youtube:active::after {
    content: "";
    background: url('../images/social-youtube.svg') no-repeat center;
    width: 18px;
    height: 15px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 11px 12px;
    opacity: 0.3;
}

.footer-youtube:hover::after {
    content: "";
    background: url('../images/social-youtube.svg') no-repeat center;
    width: 18px;
    height: 15px;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 11px 12px;
    opacity: 0.6;
}

.phone-number {
    justify-self: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
}

.phone-number-link {
    padding: 10px 15px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.phone-number-link:hover {
    color: #756257;
}

.footer-logo {
    position: relative;
    margin-right: 65px;
}

.footer-logo-link::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    background: url('../images/footer-logo.svg') no-repeat left center;
    width: 115px;
    height: 33px;
    float: left;
}

.footer-logo-link:focus::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    background: url('../images/footer-logo.svg') no-repeat left center;
    width: 115px;
    height: 33px;
    border: 3px solid #83B3D3;
    border-radius: 10px;
}

.footer-logo-link:active::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    background: url('../images/footer-logo.svg') no-repeat left center;
    width: 115px;
    height: 33px;
    opacity: 0.3;
}

.footer-logo-link:hover::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    background: url('../images/footer-logo.svg') no-repeat left center;
    width: 115px;
    height: 33px;
    opacity: 0.8;
}




/* КАТАЛОГ */



.catalog-wrapper {
    min-height: calc(100vh - 186px);
    background-color: #FFFFFF;
    width: 1200px;
    margin: 0 auto;
}



.first-screen-catalog {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    min-height: 408px;
    background-color: #7DB550;
    background: url('../images/catalog-images/first-screen-bg.jpg') no-repeat;
    background-size: 100% 100%;
}

.first-screen-header {
    margin: 0;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.select-hotels {
    padding: 35px 0 0 72px;
}

.breadcrumbs {
    margin-top: -4px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.breadcrumbs a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs a:active{
    color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs img:nth-child(2) {
    margin: 0 10px;
}

.breadcrumbs a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-decoration: none;
}

.headers-to-list {
    display: flex;
    flex-wrap: nowrap;
    width: 375px;
    justify-content: space-between;
    margin-top: 45px;
    height: auto;
}

.selectors {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
}

.selectors ul {
    margin-right: 19px;
    list-style-type: none;
    padding: 0;
    margin: 0 92px 0 0;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}

.checkbox-list,
.button-list {
    width: 125px;
}

/* Чекбоксы и радиокнопки */

.button-list input,
.checkbox-list input {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
    transform: translate(25%,5%);
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
    margin-left: -5px;
}

.header-filter-list {
    word-wrap: break-word;
    margin: 0;
    width: 160px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.type-of-hotels,
.infrastructure {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 7px;
}

.infrastructure {
    margin-bottom: 12px;
}

.type-of-hotels::before {
    margin-left: -5px;
    justify-self: center;
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 0;
    transform: translateX(15%);
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #3F5E72;
}

.type-of-hotels:hover::before {
    margin-left: -5px;
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    transform: translateX(15%);
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #3F5E72;
    opacity: 0.6;
}

.type-of-hotels:active::before {
    margin-left: -5px;
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    transform: translateX(15%);
    background: #FFFFFF;
    border-radius: 5px;
    opacity: 0.3;
}

.type-of-hotels:focus-within::before {
    margin-left: -8px;
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    transform: translateX(15%);
    background: #FFFFFF;
    border-radius: 5px;
    border: 3px solid #83B3D3;
    /* box-sizing: border-box; */
    opacity: 0.3;
}

.checkbox:checked~.arrow::before {
    margin-left: -5px;
    content: '';
    position: absolute;
    top: 0;
    transform: translate(70%, 70%);
    width: 12px;
    height: 10px;
    background: url('../images/catalog-images/checkbox.svg') no-repeat;
}

.checkbox-wrapper {
    display: block;
    min-width: 37px;
    min-height: 28px;
}

.infrastructure::before {
    margin-left: -5px;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    width: 20px;
    height: 20px;
    transform: translateX(15%);
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #3F5E72;
}

.infrastructure:hover::before {
    margin-left: -5px;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    width: 20px;
    height: 20px;
    transform: translateX(15%);
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #3F5E72;
}

.infrastructure:active::before {
    margin-left: -5px;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    width: 20px;
    height: 20px;
    transform: translateX(15%);
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #3F5E72;
}

.infrastructure:focus-within::before {
    margin-left: -8px;
    content: '';
    position: absolute;
    display: block;
    top: -2px;
    width: 20px;
    height: 20px;
    transform: translateX(15%);
    background: #FFFFFF;
    border-radius: 50%;
    border: 3px solid #83B3D3;
}

.radio:checked~.radio-active::before {
    margin-left: -5px;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 1px;
    width: 20px;
    height: 20px;
    transform: translate(17%,5%);
    background: #3F5E72;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    z-index: 2;
    box-sizing: border-box;
}

.radio-wrapper {
    display: block;
    min-width: 40px;
}
/* Первый экран правая секция, выбор дат */

.select-price {
    display: flex;
    align-self: flex-end;
    margin-bottom: 70px;
}

.price-range {
    margin-bottom: 12px;
    width: 290px;
}

.price-range p {
    margin: 0 0 34px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.price-from,
.price-to {
    margin-bottom: 20px;
    padding-left: 22px;
    width: 143px;
    height: 48px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    color: #FFFFFF;
}

.price-from {
    border-radius: 4px 0 0 4px;
}

.price-from:focus {
    background: #756257;
}

.price-to {
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.price-to:focus {
    background: #756257;
}

/* Слайдер Рендж */

.double-range {
    display: grid;
    position: relative;
    height: 23px;
    box-sizing: border-box;
}

.range {
    background: none;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    box-sizing: border-box;
}

.range-left {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    box-sizing: border-box;
}

.range-right {
    z-index: 1;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    box-sizing: border-box;
}

.range-track {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 98%;
    height: 3px;
    border-radius: 2px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-track-active {
    position: absolute;
    height: 3px;
    border-radius: 2px 2px 2px 2px;
    background-color: #ffffff; 
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}

.range::-webkit-slider-runnable-track {
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 8px;
    box-sizing: border-box;
}

/* Кнопки поиска и сброса */

.price-button {
    align-self: flex-end;
    margin-left: 81px;
}

.button-go {
    margin-bottom: 7px;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    background: #83B3D3;
    outline: none;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.button-go:hover {
    color: rgb(255, 255, 255, 0.6);
}

.button-clear {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    width: 160px;
    height: 48px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.button-clear:hover {
    color: rgb(255, 255, 255, 0.6);
}


/* Доступные гостиницы */


.avaliable-hotels {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 1200px;
    background-color: #FFFFFF;
}

.avaliable-hotels-header p {
    margin: 2px 20px 0 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.avaliable-hotels-header {
    justify-content: space-between;
}

.hotels-header-right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.show-how {
    min-width: 195px;
    margin: 0 -32px 0 60px;
    display: flex;
    align-items: center;
}

.filter-hotels {
    margin: 0 20px;
    width: 287px;
    height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    columns: #333333;
    outline: none;
}

.avaliable-hotels-header {
    display: flex;
    justify-content: space-between;
    width: 1057px;
    margin: 44px 72px 33px;
    align-items: center;
}

.display-options-active {
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 11px 13px;
    margin-right: 8px;
}

.display-options:hover {
    border: 3px solid #83B3D3;
    border-radius: 5px;
    padding: 11px 13px;
    margin-right: 8px;
}

.display-options:active {
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 11px 13px;
    margin-right: 8px;
}

.display-options {
    border: 3px solid #E5E5E5;
    border-radius: 5px;
    padding: 11px 13px;
    margin-right: 8px;
}

.hotels-list {
    width: 1057px;
    margin: 0 72px 54px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

.hotels-items {
    padding: 19px 20px 28px;
    width: 300px;
}

.hotels-items:nth-of-type(2) {
    padding: 19px 20px;
    width: 309px;
}

.hotels-items:nth-child(3) {
    padding: 19px 20px;
    width: 308px;
}

.hotels-items p {
    margin: 0;
}

.hotels-items h3 {
    margin: 14px 0 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.price-hotel {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.price-hotel p {
    box-sizing: border-box;
    width: 155px;
    padding-right: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}

.hotels-button {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.more-btn {
    width: 133px;
    height: 37px;
    border-radius: 4px;
    border: none;
    background-color: #756257;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: grid;
    align-items: center;
}

.more-btn:hover {
    color: rgb(255, 255, 255, 0.6);
}

.favorite-btn {
    width: 140px;
    height: 37px;
    border-radius: 4px;
    border: none;
    background-color: #83B3D3;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    display: grid;
    align-items: center;
}

.favorite-btn:hover {
    color: rgb(255, 255, 255, 0.6);
}

.favorite-btn-active {
    width: 140px;
    height: 37px;
    border-radius: 4px;
    border: none;
    background-color: #7DB54F;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    display: grid;
    align-items: center;
}

.favorite-btn-active:hover {
    color: rgb(255, 255, 255, 0.6);
}

.hotel-rating {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.stars {
    min-width: 100px;
}

.hotel-rating p:last-child {
    box-sizing: border-box;
    width: 160px;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #333333;
    text-transform: uppercase;
}

.divider {
    margin: 0 auto;
    padding: 0;
}

.load-more-container {
    display: flex;
    width: 1055px;
    height: 122px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    margin: -15px auto 0;
}

.load-more {
    width: 620px;
    height: 60px;
    border-radius: 4px;
    background-color: #83B3D3;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin: 30px auto;
}

.load-more:hover {
    color: rgb(255, 255, 255, 0.6);
}

.page-pagination {
    display: grid;
    grid-template-columns: 2fr auto auto;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 25px 72px 0px 72px;
    box-sizing: border-box;
    align-items: center;
}

.page-pagination-list {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    padding: 0; 
}

.page-pagination-list li {
    list-style-type: none;
}

.pagination-number {
    overflow: hidden;
    display: block;
    min-width: 55px;
    height: 55px;
    background-color: #83B3D3;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    margin-right: 7px;
    padding-top: 15px;
}

.pagination-number:hover {
    overflow: hidden;
    display: block;
    min-width: 55px;
    height: 55px;
    background-color: #83B3D3;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    margin-right: 7px;
    padding-top: 15px;
    background-color: #F2F2F2;
}

.pagination-number:active {
    overflow: hidden;
    display: block;
    min-width: 55px;
    height: 55px;
    background-color: #83B3D3;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    margin-right: 7px;
    padding-top: 12px;
    background-color: #F2F2F2;
    border: 3px solid #756257;
}


.page-pagination-item {
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    background-color: #83B3D3;
}

.page-pagination-item:hover {
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    background-color: #F2F2F2;
}

.page-pagination-item:active {
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    background-color: #F2F2F2;
}

.page-pagination p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    margin-right: 51px;
    margin-left: 30px;
}

.quantity-of-pages {
    width: 160px;
    height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 17px;
    outline: none;
}

.quantity-of-pages option {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: #333333;
}


/* Подписка */



.catalog-subscribes {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    text-align: center;
    padding: 90px 0 140px;

}

.catalog-catalog-paragraph-header {
    margin: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #000000;
}

.catalog-subscribes p:last-of-type {
    margin: 28px 0 45px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color: #333333;
}

.catalog-email {
    height: 60px;
    width: 600px;
    border-radius: 4px;
    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    padding-left: 22px;
    outline: none;
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    box-sizing: border-box;
}

.catalog-email-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: border-box;
    height: 60px;
}

.catalog-subscribe-button {
    box-sizing: border-box;
    height: 60px;
    min-width: 200px;
    max-width: 350px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #83B3D3;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;  
    cursor: pointer;
}

.catalog-subscribe-button:hover {
    color: rgb(255, 255, 255, 0.6);
}






